@charset "UTF-8";

#sindan h1 {
	color: yellow;
}

#error {
	color: red;
	font-weight: bold;
}

#buttons {
	margin-top: 15px;
}

#result {
	font-size: 40px;
	font-weight: bold;
	color: rgb(255, 255, 0);
	
}